<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <title>Interective Rock Paper Scissor Game by Joy</title>

</head>
<body>
    <style>
        .cut{
    font-size: 40px;
    color: #f91919;
}
.sticky-note{
font-size: 40px;
    color: #fff;
}
.hand-rock{
font-size: 40px;
    color: #00b8ff;
}
    </style>
<div class="container-fluid container">
    <div class="card text-center mt-2">
        <div class="card-header">
            <h4>Welcome to Interective Rock Paper Scissor Game</h4>
        </div>
        <div class="card-body" style="
    min-height: 400px;">

            <div class="row">


                <!--                USER AREA       -->

                <div class="col-md-6">
                    <div class="card border-primary mb-3" style="width:100%;">
                        <div class="card-header">



                            Your Choice


                            </div>
                        <div class="card-body text-primary">
                            <h6>Choose Any of this option</h6>
                            <br>
                            <form method="post" action="/calculate/">
                                {%csrf_token%}

                            <button type="submit" name="uchoice" value="1" class="btn btn-primary"><i class="fas fa-hand-rock"></i> Rock</button>

                            <button type="submit" name="uchoice" value="2" class="btn btn-secondary"> <i class="fas fa-sticky-note"></i> Paper</button>

                            <button type="submit" name="uchoice" value="3" class="btn btn-danger"><i class="fas fa-cut"></i> Scissor</button>


                            </form>
                        </div>

                        <br>
                        <b></b>
                    </div>
                </div>


                <!--                COOMPUTER AREA    -->

                <div class="col-md-6">
                    <div class="card border-info mb-3" style="width: 100%;">
                        <div class="card-header">Opponent Area</div>
                        <div class="card-body bg-success text-white">

                           <div class="row">

                            <div class="col-md-4 col-sm-4 order-sm-1">
                            <h6>
                                {% if userc %}
                                You choosed

                                <br>
                                <br>


                                <i class="fas fa-{{userctag}} {{userctag}}"></i>
                                <h4>{{userc}}</h4>

                                {%endif%}
                            </h6>
                                </div>
                            <div class="col-md-4 col-sm-4 order-sm-3">
                            <h6>
                                {%if comchoice %}
                                Computer Chosen

                                <br>
                                <br>


                                <i class="fas fa-{{ comchoice }} {{ comchoice }}"></i>
                                <h4>{{comchoicetext}}</h4>
                                {% endif %}

                            </h6>
                                </div>

                            <div class="col-md-4 col-sm-4 order-sm-2">
                            <h6>
                                {%if userc %}

                                   {% if userc %}
                                 Verdict
                                {% endif %}
                                <br>
                                <br>

                                {%if win == 1 %}
                                <i class="fas fa-smile" style="
    font-size: 55px;
    color: yellow;
"></i>
                                <h4>You win</h4>
                                {% elif win == 0%}
                                <i class="fas fa-sad-tear" style="
    font-size: 55px;
    color: yellow;
"></i><h4>You Loss</h4>
                                {%else%}
                                <i class="fas fa-balance-scale" style="
    font-size: 55px;
    color: white;
"></i><h4>Tie</h4>
                                {%endif%}
                                {%endif%}
                            </h6>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="card-footer text-muted">
            Developed by <b>Razu Ahmed Joy</b>
        </div>
    </div>

</div>



<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<script type="text/javascript">



</script>

</body>
</html>